# Ignore node_modules directory (Node.js projects)
node_modules/

# Ignore log files and databases
*.log
*.sql
*.sqlite
*.db

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/
*.iml


# Ignore JavaScript files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore Go files
bin/
